<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >
  <variable name="logdir" value="${basedir}/Logs/${shortdate}"/>
  <targets async="false">
    <target name="file" xsi:type="File"
        layout="${longdate} ${callsite}${newline}${message}${newline}${exception:format=tostring}"
        fileName="${logdir}/${logger}_${level}.log"
        archiveAboveSize="3145728"
        maxArchiveFiles="20"
        archiveFileName="${logdir}/${logger}_${level}.{##}.txt"/>
    <target name="consoleWrite" xsi:type="Console" error="true" layout="${longdate} ${logger}${newline} ${message}" /> 
  </targets>
  <rules> 
    <logger name="*" minlevel="Trace" writeTo="consoleWrite" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
